body{
    margin: 0 auto;
    overflow: hidden;
    background: #4db6ac;
}
.back-anim{
    animation: allow 0s;
}
@keyframes allow {
    0% {background: #A5D866;}
    50% {background: #F5AB43;}
    100% {background: #F5423F; }
}
@keyframes question {
    0% {background: #A5D866;}
    50% {background: #F5AB43;}
    100% {background: #F5423F; }
}

.container-clock{
    width: 100%;
    height:100vh;
    display: inline-flex;
    align-items: center;
    text-align: center;
}
.centering{
    margin-left: auto;
    margin-right: auto;
    width: auto !important;
    /*-webkit-transform: scale(2,2);
    -moz-transform: scale(2,2);
    -ms-transform: scale(2,2);
    -o-transform: scale(2,2);
    transform: scale(2,2);*/
}
.flip-clock-label{
    display: none;
}
.toolbar{
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 95%;
    height: 100vh;
    color: #FFFFFF;
    padding: 2.5%;
    background-color: #222222;
    box-shadow: 0 1px 12px #222222;
    font-family: 'Open Sans', sans-serif;
    transition: transform 0.5s ease;
    overflow-y: auto;
}
.toolbar div.clear{
    clear: both;
    height: 1px;
    width: 100%;
    margin-bottom: 15px;
}
.toolbar h1{
    text-transform: uppercase;
}
.toolbar h3{
    text-transform: uppercase;
    margin: 0.1em 0;
}
.toolbar input,
.toolbar button{
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 5px;
}
.toolbar input{
    padding-left: 12px;
}
.toolbar button{
    background: #aed581;
}
.toolbar button:hover{
    cursor: pointer;
    background: #547C23;
}
.toolbar .hours,
.toolbar .minutes,
.toolbar .seconds,
.toolbar .set{
    width: 20%;
    float: left;
    margin: 0 2%;
}
.toolbar .set span{
    display: block;
    height: 22px;
    margin: 16px 0;
}
.toolbar .buttons .set{
    margin: 10px 2.5%;
    width: 45%;
}
.toolbar .buttons .set button{
    text-transform: uppercase;
}
.toolbar .buttons .set button#reset{
    background-color: #ffb74d;
}
.toolbar .buttons .set button#reset:hover{
    background-color: #C2770F;
}
.toolbar .buttons .set button#start{
    background-color: #ef5350;
}
.toolbar .buttons .set button#start:hover{
    background-color: #B80A07;
}
.toolbar.hidden{
    transform: translateX(-100%);
}
.cursorhide{
    cursor: none;
}